<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/ajaxGetHtml.js"></script>
    <script>
        function getActicleByName() {
            $.ajax({
                type: 'POST',
                contentType: 'application/json;charset=utf-8',
                url: '/MEditor/getNewsByUserName/'+sessionStorage.sessionId,
                dataType: 'json',
                success: function (data) {
                    var result = data['message'];
                    if(result=="获取成功"){
                        var news = data['result'];
                        var newsList = $("#newsList");
                        for (let i in news){
                            let article = news[i];
                            newsList.append('<li class="list-group-item" id="'+news[i]['id']+'">' +
                                '<a onclick="deleteArticle('+news[i]['id']+')" class="btn btn-default">删除</a> ' +
                                '<a onclick="updateArticle('+news[i]['id']+')" class="btn btn-default">修改</a> ' +
                                '<a onclick="showArticle('+news[i]['id']+')">标题：<span id="title"> '+news[i]['title']+'</span></a>' +
                                '<span class="label label-info" style="float:right" id="clickNum">'+article["clickNum"]+'</span>' +
                                '</li>')
                            if(news[i]['editorType']=='1'){
                                $('#'+news[i]['id']).append('<span class="label label-success" style="float:right" id="'+news[i]['id']+'newsType">UE</span>')
                            }else {
                                $('#'+news[i]['id']).append('<span class="label label-primary" style="float:right" id="'+news[i]['id']+'newsType">MD</span>')
                            }
                        }
                    }
                },
                error: function (err) {
                    alert(JSON.stringify(err));
                }
            });
        }
        function deleteArticle(id) {
            $.ajax({
                type: 'POST',
                contentType: 'application/json;charset=utf-8',
                url: '/MEditor/delete/'+id+'/'+sessionStorage.sessionId,
                dataType: 'json',
                success: function (data) {
                    alert(data['message']);
                },
                error: function (err) {
                    alert(JSON.stringify(err));
                }
            });
            insteadSafe('/MEditor/manageArticle','#instead')
        }
        function updateArticle(id) {

            var newsType = $('#'+id+'newsType').html();
            sessionStorage.articleId=id;
            if (newsType=='UE')
                getHttp("/UEditor/updateArticle");
            else if(newsType=='MD')
                insteadSafe("/MEditor/updateArticle","#instead");
        }
        function showArticle(id){
            sessionStorage.articleId=id;
            instead("/home/showArticle","#instead");
        }
        $(function () {
            getActicleByName();
        })
    </script>
</head>
<body>
<div class="container">
    <ul class="list-group" id="newsList">
<!--        <li class="list-group-item">-->
<!--            <a href="" class="btn btn-default">删除</a>-->
<!--            <a href="" class="btn btn-default">修改</a>-->
<!--            <a href="">标题：<span id="title"></span></a>-->
<!--            <span class="label label-info" style="float:right" id="clickNum"></span>-->
<!--        </li>-->
    </ul>
</div>
</body>
</html>