<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/ajaxGetHttp.js"></script>
    <script>
        function getNewsType() {
            $.ajax({
                type: 'POST',
                contentType: 'application/json;charset=utf-8',
                url: '/home/getNewsByType/'+sessionStorage.articleType+'/1/20',
                dataType: 'json',
                success: function (data) {
                    var result = data['message'];
                    if(result=="获取成功"){
                        var news = data['result'];
                        for(let i in news){
                            $('#newsList').append("<li class=\"list-group-item\">" +
                                "<a onclick=\"instead('/home/showArticle','#instead')\">"
                                +news[i]['title']+"</a></li>");
                        }
                    }
                },
                error: function (err) {
                    alert(JSON.stringify(err));
                }
            });
            sessionStorage.articleType='';
        }
        $(function () {
            getNewsType();
        })
    </script>
</head>
<body>
<div class="container">
    <div class="box">
        <ul class="list-group" id="newsList">
<!--            <li class="list-group-item">-->
<!--                <a onclick="instead('/home/showArticle','#instead')">-->

<!--                </a>-->
<!--            </li>-->
        </ul>
    </div>
</div>
</body>
</html>