<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <style>
        #footer a{
            color: black;
        }
    </style>
</head>
<body>
<div class="panel-footer text-center row" style="margin-bottom:0px">
    <div class="col-lg-3">
        <a href="https://jq.qq.com/?_wv=1027&k=5BBStCg">
        <figure><img src="/img/QQgroup.png" style="margin-bottom: 10px">
            <figcaption>点击或扫描图片加群</figcaption>
        </figure>
        </a>
    </div>
    <div class="col-lg-9">
        <ul class="nav">
            <li><a href="http://beian.miit.gov.cn" >粤ICP备19025175号</a></li>
            <li><a href="https://jq.qq.com/?_wv=1027&k=5BBStCg">点击链接加入群聊【长流】</a></li>
        </ul>
    </div>
</div>
</body>
</html>